<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FCM Token</title>
</head>
<body>

<h2>FCM Token olish</h2>

<button onclick="getToken()">Token olish</button>

<p id="token"></p>

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.0/firebase-app.js";
    import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/10.7.0/firebase-messaging.js";

    const firebaseConfig = {
        apiKey: "AIzaSyBpBCO9zKrD76p_bI-CSfNtwL89bPsPq5g",
        authDomain: "university-app-a65e3.firebaseapp.com",
        projectId: "university-app-a65e3",
        storageBucket: "university-app-a65e3.firebasestorage.app",
        messagingSenderId: "87286361837",
        appId: "1:87286361837:web:7779cc7dffeac29314e6e4"
    };

    const app = initializeApp(firebaseConfig);
    const messaging = getMessaging(app);

    window.getToken = async function () {
        const permission = await Notification.requestPermission();

        if (permission !== "granted") {
            alert("Permission berilmadi ❌");
            return;
        }

        const token = await getToken(messaging, {
            vapidKey: "BOr2FB8-x79PJb3JueBKA0j24zXLpvdYCYGx-fsl-8TWRADMS3LHZXhPKNzfZUyiKuIoBDM4jdHC7LdGQ3ZpTsg"
        });

        console.log("TOKEN:", token);

        document.getElementById("token").innerText = token;
    }
</script>

</body>
</html>